impl ToRPCData for {{ name }} {
    fn to_rpc(&self) -> String {
        format!(
            "({{data_name}}{%- for field in fields %} :{{ field.key_name }} {}{%- endfor %})",
{%- for field in fields %}
            self.{{ field.name }}.to_rpc(){% if not loop.last %},{% endif %}
{%- endfor %}
        )
    }
}